html {
  font-size: 50%;

  @media screen and (min-width: 400px) {
    font-size: 80%;
  }
  @media screen and (min-width: 800px) {
    font-size: 100%;
  }
}

/* common */

.sticky-elem {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.main-message {
  top: 30vh;
  opacity: 0;
  font-size: 4rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.main-message-second {
  /* left: 40%; */
}

/* --common */

.intro_section {
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, #000000 40%, #591515);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.intro_section > h2 {
  color: white;
  font-style: italic;
  font-size: 5rem;
  margin-bottom: 6rem;
  animation: faker_quotation 2s;
}

.intro_section > img {
  width: 400px;
  aspect-ratio: 1/2;
}

#fade-in-faker-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro_section-after {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.intro_section-after h2 {
  position: relative;
  color: #e4e6cf;
  bottom: -70%;
  font-size: 3rem;
  /* white-space: nowrap; */

  text-align: center;
  opacity: 0;
}

.intro_section-after_icon {
  position: absolute;
  bottom: 10%;
  font-size: 2.6rem;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  animation: scrolldown-anima infinite alternate 1s;
}

#third_section {
  width: 100%;
  height: 500vh;
  background-color: red;
}

body#show-scene-1 #second_section .sticky-elem {
  display: block;
}

@media screen and (min-width: 1024px) {
  .intro_section > img {
    width: 600px;
    aspect-ratio: 1/2;
  }

  .intro_section-after h2 {
    font-size: 6rem;
  }
}

@keyframes faker_quotation {
  from {
    transform: translate3d(0, -40%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes faker_quotation-after {
  from {
    transform: translate3d(0, 40%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes scrolldown-anima {
  from {
    transform: translate3d(-50%, -20%, 0);
  }
  to {
    transform: translate3d(-50%, 20%, 0);
  }
}

/* second section*/
