:root {
  --font-color: rgb(236 230 221);
}

html {
  font-size: 50%;

  @media screen and (min-width: 400px) {
    font-size: 80%;
  }
  @media screen and (min-width: 800px) {
    font-size: 100%;
  }
}

/* common */

.common_container {
  padding: 0 1rem;
}

.sticky-elem {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.main-message {
  top: 30vh;
  opacity: 0;
  font-size: 4rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.main-message-second {
  /* left: 40%; */
}

/* --common */

.intro_section {
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, #000000 40%, #591515);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.intro_section > h2 {
  color: white;
  font-style: italic;
  font-size: 5rem;
  margin-bottom: 6rem;
  animation: faker_quotation 2s;
}

.intro_section > img {
  width: 400px;
  aspect-ratio: 1/2;
}

#fade-in-faker-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro_section-after {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.intro_section-after h2 {
  position: relative;
  color: #e4e6cf;
  bottom: -70%;
  font-size: 3rem;
  /* white-space: nowrap; */

  text-align: center;
  opacity: 0;
}

.intro_section-after_icon {
  position: absolute;
  bottom: 10%;
  font-size: 2.6rem;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  animation: scrolldown-anima infinite alternate 1s;
}
/* 세번째 섹션 */
#third_section {
  color: white;
  position: relative;
  padding-top: 30vh;
  padding-bottom: 30vh;
  width: 100%;
}
/* 금색 배경 그림자 부분 */
/* linear-gradient(180deg,#0f0e09 66%,#494034 86%,#aa9678 107%,#d8ccb9 117%,#f0ebe3 134%) */

.third_section_title {
  position: relative;
  margin-bottom: 10rem;
  color: white;
  font-size: 5rem;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

.award_wrap {
  position: relative;
  z-index: 10;
}

.award_wrap_list {
  padding: 0;
  margin: 0;
  --col-gap: 4rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: 100%;
}

/* line */
.award_wrap_list::before {
  content: '';
  grid-column: 1;
  width: 4px;
  grid-row: 1 / span 100;
  background: white;
  border-radius: calc(var(--line-w) / 2);
}

/* 현재 클릭된 높이 타임라인 */
.award_wrap_list::after {
  content: '';
  position: absolute;
  grid-column: 1;
  width: 4px;
  /* style.setProperty 동적으로 적용해서 값을 가져올 수 있음 */
  height: var(--timeline-height, 0);
  background: #d8ccb9;
  border-radius: calc(var(--line-w) / 2);
  transition: 0.3s;
}

/* card */
.award_wrap_list li {
  grid-column: 2;
  padding-bottom: 10rem;

  /* grid-row: span 2; */
}

.award_wrap_list li h3 {
  position: relative;
  font-size: 4rem;
  color: white;
  height: 5rem;
  text-align: left;
  font-weight: 700;
  display: flex;
  align-items: center;
}

/* circle */
.award_wrap_list li h3::after {
  content: '';
  position: absolute;
  width: 1.2rem;
  aspect-ratio: 2 / 1;
  background: white;
  border: 0.2rem solid #d8ccb9;

  top: 50%;
  z-index: 100;
  transform: translate(50%, -50%);
  /* gap + 라인 컬럼 크기의 반 */
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.award_wrap_list_award_card {
  user-select: none;
  cursor: pointer;
}

.award_wrap_list_award_card p {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  padding: 1rem 0;
  height: 6rem;
  display: flex;
  align-items: center;
}

/* 타임라인 현재 높이 */
.award_wrap_list_award_card p::after {
  content: '';
  position: absolute;
  width: 1rem;
  aspect-ratio: 1 / 1;
  background: white;
  border: 0.2rem solid transparent;
  border-radius: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(50%, -50%);
  /* gap + 라인 컬럼 크기의 반 */
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  transition: 0.3s;
}

.award_wrap_list_award_card.active p::after {
  border: 0.2rem solid #d8ccb9;
}

.award_wrap_list_award_card.passed p::after {
  background: #d8ccb9;
}
.award_wrap_list_award_card i {
  margin-left: 1rem;
  transition: 0.3s;
}

.award_wrap_list_award_card_iframe {
  position: relative;
  width: 400px;
  height: 0px;
  border-radius: 2rem;
  overflow: hidden;
  transition: 1s;
}

.award_wrap_list_award_card_iframe iframe {
  display: block;
  width: 100%;
  height: 100%;
}
/* iframe이 느리다고 판단되면 이미지로 바꿀 예정 */
.award_wrap_list_award_card_iframe a {
  display: block;
  width: 100%;
  height: 100%;
}

.award_wrap_list_award_card_iframe a img {
  width: 100%;
  height: 100%;
}

.award_wrap_list_award_card.active i {
  transform: rotate(180deg);
}
.award_wrap_list_award_card.active .award_wrap_list_award_card_iframe {
  height: 400px;
}

.third_background {
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(
    180deg,
    #0f0e09 5.78%,
    #494034 28.26%,
    #aa9678 50.61%,
    #d8ccb9 74.04%,
    #f0ebe3
  );
}

.third_background_img {
  background-image: url('./imgs/master_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 네번째 씬 */
#fourth_section {
  height: 500vh;
}

.image-blend-canvas {
  border: 3px solid red;
}

.image-blend-canvas.sticky-elem {
  /* border: 3px solid red; */
  /* background-color: blue; */
  top: 0;
}

.image-blend-canvas.sticky {
  position: fixed;
  top: 0;
}

body#show-scene-1 #second_section .sticky-elem {
  display: block;
}

@keyframes faker_quotation {
  from {
    transform: translate3d(0, -40%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes faker_quotation-after {
  from {
    transform: translate3d(0, 40%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes scrolldown-anima {
  from {
    transform: translate3d(-50%, -20%, 0);
  }
  to {
    transform: translate3d(-50%, 20%, 0);
  }
}

@media screen and (min-width: 1024px) {
  .common_container {
    padding: 0 2rem;
  }

  .intro_section > img {
    width: 600px;
    aspect-ratio: 1/2;
  }

  .intro_section-after h2 {
    font-size: 6rem;
  }

  /* 수상 경력 */

  .award_wrap_list {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .award_wrap_list::before {
    grid-column: 2;
  }
  .award_wrap_list::after {
    grid-column: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }

  .award_wrap_list li {
    grid-row: span 3;
  }

  .award_wrap_list li:nth-child(odd) h3 {
    position: relative;
    font-size: 4rem;
    color: white;
    height: 5rem;
    text-align: right;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .award_wrap_list li h3::after {
    display: none;
  }

  .award_wrap_list li:nth-child(odd) {
    grid-column: 1;
  }

  .award_wrap_list li:nth-child(2) {
    grid-row: 3/6;
  }

  .award_wrap_list li:nth-child(odd) .award_wrap_list_award_card p {
    flex-direction: row-reverse;
  }

  .award_wrap_list li:nth-child(odd) .award_wrap_list_award_card p::after {
    content: '';
    top: 50%;
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    /* gap + 라인 컬럼 크기의 반 */
    right: 0;
  }

  .award_wrap_list li:nth-child(odd) .award_wrap_list_award_card p i {
    margin-right: 1rem;
    margin-left: 0;
  }
  .award_wrap_list li:nth-child(even) {
    grid-column: 3;
  }

  .award_wrap_list_award_card p {
    height: 8rem;
  }

  .award_wrap_list_award_card_iframe {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  .award_wrap_list_award_card.active .award_wrap_list_award_card_iframe {
    height: 700px;
  }
}
