html {
  font-size: 50%;

  @media screen and (min-width: 400px) {
    font-size: 80%;
  }
  @media screen and (min-width: 800px) {
    font-size: 100%;
  }
}

.intro_section {
  position: relative;
  height: 100vh;
  background: linear-gradient(to top, #000000, #591515);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.intro_section h2 {
  color: white;
  font-style: italic;
  font-size: 5rem;
  margin-bottom: 6rem;
  animation: faker_quotation 2s;
}

.intro_section > img {
  width: 400px;
  aspect-ratio: 1/2;
}

#fade-in-faker-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .intro_section > img {
    width: 600px;
    aspect-ratio: 1/2;
  }
}

@keyframes faker_quotation {
  from {
    transform: translate3d(0, -40%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
